---
import '~styles/global.css';
import Head, { type HeadProps } from '~components/Head.astro';

export interface Props {
  head?: Partial<HeadProps>;
}

const { head } = Astro.props;
---

<!doctype html>
<html
  lang="en"
  class:list={[
    "antialiased",
    "container mx-auto px-4 py-20",
    "sm:px-8 md:px-16 lg:px-32 xl:px-48"
  ]}
>
  <Head {...head} />
  <body>
    <slot />
  </body>
</html>
